.add{
    margin-top: 20px;
    display: flex;

    &__input-text{
        width: 318px;
        @include input-text-style();
    }
    &__input-submit{
        @include input-submit-style();
        &:hover{
            color: #3a3A3a;
        }
    }
}


.input-style{
    width: 318px;
}